/********************************************************************
  
  website: Site Name
  author : Ken Torry
  version: 1.0
  year : 2015 

*********************************************************************/

html, body{
	background: #333;
	color: #fefefe;
}


/*___________________________________________________________________ 

BASE STYLES
____________________________________________________________________*/

